

h1{
    /* Box */
    margin-top: 60px;
    margin-bottom: 10px;
}

.actionBar{
    display: flex;
    justify-self: center;

    background-color: bisque;
    padding: 0px 100px;

    width: 1100px;
}

.gallery{
    display: flex;
    justify-self: center;
    /*padding: 0px 50px;*/
    padding: 0px;

    width: 1300px;
}

.gallery ul{
    /* Display */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;

    list-style-type: none;    /* to remove the dots */
    /*width: max-content;       /* Makes the gallery shrink to content width */
}

/* Gallery Cards */
.petCard {
    /* Size */
    width: 300px;
    height: 500px;

    /* Box */
    margin: 10px 0px;

    /* Style */
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}

.petCard img{
    border-radius: 10px;
}

/* Add Card Dialog */

.imageUpload{
	width: 410px;
    display: inline-block;
    padding: 10px 20px;
	border: 1px dashed black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;

	text-align: center;
}

.imageUpload:hover {
	color: cornflowerblue;
	border-color: cornflowerblue;
}

#profileImg {
    display: none;
}

.addCardDialog {
    border: 0px;    /* hide default border */
    border-radius: 10px;
    width: 450px;
    padding: 20px;

    background-color: rgb(255, 248, 238);
}

.addCardDialog .banner{
    display: flex;
    justify-content: center;

    border-radius: 10px;
    background-color: rgba(184, 156, 108, 0.35);
}

.addCardDialog .windowBar {
    display: flex;
    justify-content: flex-end;
}

.addCardDialog .windowBar .cancelButton{
    border-radius: 10px;
}

.addCardDialog div{
    /* Display */
    display: flex;
    align-items: center;
}

.addCardDialog form {
    display: flex;
    flex-direction: column;
}

.textLabels {
    width: 200px;
}

/* Name Input */
.profileNameInput {
    padding: 10px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Date of Birth Input */
.dateOfBirth {
    border: 2px solid transparent;
    width: 300px;
    height: 30px;

    outline: none;
    overflow: hidden;
    background-color: antiquewhite;
    border-radius: 10px;
    transition: all 0.5s;
}

.dateOfBirth:hover, .dateOfBirth:focus {
    border: 2px solid cornflowerblue;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
}

/* Dropdown Inputs */
.addCardDialog select{
    width: 300px;
    padding: 10px;
    font-size: 16px;

    border-radius: 10px;
}

/* Gender Radio Input */
.genderGroup{
    width: 300px;
}

/* Description Input */
.addCardDialog textarea{
    padding: 20px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
