

h1{
    /* Box */
    margin-top: 60px;
}

.gallery{
    display: flex;
    justify-self: center;
    /*justify-content: center;   /* Center the whole gallery block */
    padding: 50px;

    width: 1300px;
}

.gallery ul{
    /* Display */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;

    width: max-content;       /* Makes the gallery shrink to content width */
    list-style-type: none;    /* to remove the dots */
}

.gallery ul{
    list-style-type: none;    /* to remove the dots */
}

.petCard {
    /* Size */
    width: 400px;
    height: 500px;

    /* Box */
    margin: 10px 0px;

    /* Style */
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}