/* User Details Dialog */
dialog.authDialog{
    /* maing sure the dialog appear on the right side of the page */
    margin: 0;
    top: 50px;
    left: 79%;
    transform: translateX(-50%);
}

.userDetailsDialog{
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
}

.authDialog .banner h2{
    margin: 0px;
}

/* Profile Image */
.userDetailsDialog img{
    width:100px;
    height:100px;
    border-radius:50%;

    display:block;
}

.userDetailsDialog .persona{
    width: 100%;
    display: flex;
}

.userDetailsDialog .persona div{
    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    margin-left: 5px;
}

.uploadUserProfileBtn{
    background-color: cornflowerblue;
    padding: 2px;
    border-radius: 5px;
    font-size: 15px;
    cursor:pointer;

    margin-top: 10px;
}

/* User's full name and username */
.userDetailsDialog .persona div h2
,.userDetailsDialog .persona div span{
    margin: 0px;
}

/* Contact Number and Type */
.personaDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
}

.personalDetailRows dt {
    width: 70px;
}

/* Change Password */
.changePassword{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    width: 100%;
}

.changePassword h3{
    margin: 0px;
}

/* Inputs for editing names, contact and type*/
.userDetailsDialog input{
    width: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
}

/* Edit Save Cancel Buttons */
.personalDetailBtns{
    display:flex;
    flex-direction: column;
    width: 100%;
}

.updateParticularsBtn, .updateParticularsCancelBtn, .updateParticularsSaveBtn{
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;

    background-color: rgb(179, 179, 184);
}

.updateParticularsCancelBtn, .updateParticularsSaveBtn{
    display: none;
}

/* Update Password Button */
.updatePasswordBtn{
    align-self: start;
    border: 0px;
    border-radius: 5px;
    background-color: rgba(116, 158, 67, 0.815);
    color: rgb(247, 243, 218);
    padding: 10px;
}

/* Delete Account, Logout Buttons */
.userDetailsRedBtns{
    display: flex;
    justify-content: end;
    gap: 10px;

    width: 100%;
}

.userDetailsRedBtns .deleteBtn,
.userDetailsRedBtns .logoutBtn{
    border: 0px;
    border-radius: 5px;
    background-color: rgb(235, 68, 68);
    color: rgb(247, 243, 218);
    padding: 10px;
}


